---
const { t } = Astro.props;
---

<div class="text-center mt-8">
  <a id="back-to-main" href="/" class="inline-block bg-[#c9a66b] text-white border-none px-8 py-3 rounded-lg hover:bg-[#b8945a] transition-colors">
    {t.backToMainPage}
  </a>
</div>
